@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

.Haptik {
    font-family: "GT Haptik Regular";
}

/*

font-family: "GT Haptik Regular";
font-family: 'Montserrat', sans-serif;

*/